* {
  ooutline: solid red;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {
  min-width: 120px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0 0 0 15px;
}

.list-title {
  color: #000000;
  border-bottom: 1px solid linear-gradient(to right, red , yellow);
}

.top-nav {
  list-style-type: none;
  text-align: right;
}

.top-nav li {
  display: inline-block;
  padding: 8px 10px;
  font-size: 12px;
}

.center {
  text-align: center;
}

.top-nav-list-box {
  float: right;
  margin-top: 15px;
}

.nav-tabs > li > a {
  padding: 8px;
}

.well {
  margin-bottom: 6px;
  border-radius: 0px;
  padding: 10px 10px;
}

.panel {
  border-radius: 0px;
}

.sm-padding-left {
  padding-left: 2px;
}

.sm-padding-right {
  padding-right: 2px;
}

.panel-body {
  padding: 5px 10px;
}

.green-background {
  background-color: #f5fffa;
}

.green-title {
  background-color: #cef2e0;
  border: solid #a3b0bf 1px;
  padding: 3px;
}

.blue-background {
  background-color: #f5faff;
}

.blue-title {
  background-color: #cedff2;
  border: solid #a3b0bf 1px;
  padding: 5px;
}
