* {
  ooutline: solid red;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {

}

.top-nav {
  list-style-type: none;
  text-align: right;
}

.top-nav li {
  display: inline-block;
  padding: 8px 10px;
  font-size: 12px;
}

.center {
  text-align: center;
}

.top-nav-list-box {
  float: right;
  margin-top: 15px;
}

.green-background {
  background-color: #f5fffa;
}

.green-title {
  background-color: #cef2e0;
  border: solid #a3b0bf 1px;
  padding: 3px;
}

.blue-background {
  background-color: #f5faff;
}

.blue-title {
  background-color: #cedff2;
  border: solid #a3b0bf 1px;
  padding: 5px;
}
